{% extends "base.html" %}

{% block content %}
<style>
    input{
        margin-top: 10px;
    }

</style>
<div class="container text-center">
    <br>
    <br>
    <br>
    <h2>
        Enter the passcode to access this resource
    </h2>
    <br>
    <br>
    <br>
    <div class="row">
      <div class="col">
        <form method="post", action="/login">
            {{ form.csrf_token }}
            {{ form.password_field() }}
            {{ form.password_submit_btn() }}
        </form>
      </div>
    </div>


{% endblock content %}